[ActiveComponents]
component.googleimages.activate=True
component.twitter.activate=True
component.ner.activate=True

[GoogleImages]
googleimages.limit=20
googleimages.imagesdirectory=google/raw-data
googleimages.metadatadirectory=google/metadata

[Twitter]
twitter.credentials=twitter/twitterCredentials.txt
twitter.savemedia=True
twitter.timeline.limit=500
twitter.timeline.outputtweet=twitter/timeline/json
twitter.timeline.outputmedia=twitter/timeline/media
twitter.keywords.limit=500
twitter.keywords.outputtweet=twitter/keywords/json
twitter.keywords.outputmedia=twitter/keywords/media

[Wordcloud]
wordcloud.outputdirectory=dataviz/wordcloud

[FoliumMap]
foliummap.outputdirectory=dataviz/map

[Debug]
verbose.active=False